services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - env.docker.local
  rails:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && rails s -b 0.0.0.0"
    volumes:
      - .:/rails
      - bundle:/usr/local/bundle
    ports:
      - "3000:3000"
    env_file:
      - env.docker.local
    stdin_open: true
    tty: true
    depends_on:
      - db

volumes:
  db_data:
  bundle:
